In [1]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

from time import sleep
from random import randint

In [2]:
# Creating the lists we want to write into
titles = []
years = []
time = []
imdb_ratings = []
metascores = []
votes = []
us_gross = []

In [6]:
headers = {'Accept-Language': 'en-US, en;q=0.5'}

In [4]:
pages = np.arange(1, 101, 1)
pages

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [8]:
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&start=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    # Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    
    # Controling the loop’s rate by pausing the execution of the loop for a specified amount of time
    # Waiting time between requests for a number between 2-10 seconds
    # sleep(randint(2,10))
    
    for container in movie_div:
        # Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)
        
        # Scraping the movie's year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
        
        # Scraping the movie's length
        runtime = container.find('span', class_='runtime').text if container.p.find('span', class_='runtime') else '-'
        time.append(runtime)
        
        # Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        
        # Scraping the metascore
        m_score = container.find('span', class_='metascore').text if container.find('span', class_='metascore') else '-'
        metascores.append(m_score)
        
        # Scraping votes and gross earnings
        nv = container.find_all('span', attrs={'name':'nv'})
        vote = nv[0].text
        votes.append(vote)
        grosses = nv[1].text if len(nv) > 1 else '-'
        us_gross.append(grosses)

In [21]:
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'time_minute':time,
                       'imdb_rating':imdb_ratings,
                       'metascore':metascores,
                       'vote':votes,
                       'gross_earning':us_gross})

movies.head(100)

,movie,year,time_minute,imdb_rating,metascore,vote,gross_earning
0,The Batman,(2022),176 min,8.4,72,"226,356",#93
1,Spider-Man: No Way Home,(2021),148 min,8.6,71,"514,548",#55
2,The Dark Knight,(2008),152 min,9.1,84,"2,518,330",$534.86M
3,Dune,(2021),155 min,8.1,74,"511,375",#238
4,Batman Begins,(2005),140 min,8.3,70,"1,406,434",$206.85M
...,...,...,...,...,...,...,...
95,Watchmen,(2009),162 min,7.7,56,"536,854",$107.51M
96,Jurassic Park,(1993),127 min,8.2,68,"937,284",$402.45M
97,Forrest Gump,(1994),142 min,8.8,82,"1,974,642",$330.25M
98,Baby Driver,(2017),113 min,7.6,86,"504,241",$107.83M
99,The Matrix,(1999),136 min,8.7,73,"1,844,016",$171.48M

In [22]:
movies['year'] = movies['year'].str.extract('(\d+)').astype(int)
movies.head(100)

,movie,year,time_minute,imdb_rating,metascore,vote,gross_earning
0,The Batman,2022,176 min,8.4,72,"226,356",#93
1,Spider-Man: No Way Home,2021,148 min,8.6,71,"514,548",#55
2,The Dark Knight,2008,152 min,9.1,84,"2,518,330",$534.86M
3,Dune,2021,155 min,8.1,74,"511,375",#238
4,Batman Begins,2005,140 min,8.3,70,"1,406,434",$206.85M
...,...,...,...,...,...,...,...
95,Watchmen,2009,162 min,7.7,56,"536,854",$107.51M
96,Jurassic Park,1993,127 min,8.2,68,"937,284",$402.45M
97,Forrest Gump,1994,142 min,8.8,82,"1,974,642",$330.25M
98,Baby Driver,2017,113 min,7.6,86,"504,241",$107.83M
99,The Matrix,1999,136 min,8.7,73,"1,844,016",$171.48M

In [23]:
movies['time_minute'] = movies['time_minute'].str.extract('(\d+)').astype(int)
movies.head(100)

,movie,year,time_minute,imdb_rating,metascore,vote,gross_earning
0,The Batman,2022,176,8.4,72,"226,356",#93
1,Spider-Man: No Way Home,2021,148,8.6,71,"514,548",#55
2,The Dark Knight,2008,152,9.1,84,"2,518,330",$534.86M
3,Dune,2021,155,8.1,74,"511,375",#238
4,Batman Begins,2005,140,8.3,70,"1,406,434",$206.85M
...,...,...,...,...,...,...,...
95,Watchmen,2009,162,7.7,56,"536,854",$107.51M
96,Jurassic Park,1993,127,8.2,68,"937,284",$402.45M
97,Forrest Gump,1994,142,8.8,82,"1,974,642",$330.25M
98,Baby Driver,2017,113,7.6,86,"504,241",$107.83M
99,The Matrix,1999,136,8.7,73,"1,844,016",$171.48M